################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SoftwareCodingChallenge/v14
/ConsoleUI/bin/Debug
/ConsoleUI/obj/Debug
/PalindromesFinder/bin/Debug
/PalindromesFinder/obj/Debug
/UnitTests/bin/Debug
/UnitTests/obj/Debug
